*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android
*.apk
*.aab
*.ap_
*.dex
bin/
gen/
out/

# Kotlin
*.class
*.kotlin_module

# Misc
*.log
*.tmp
*.swp
*.swo
*~
.~lock.*
*/build/
